@use "@/styles/variables.scss" as *;
@use "@/styles/mixin.scss" as *;
@use "@/styles/components.scss" as *;

.list {
  .title {
    @include headingXL();
    margin-bottom: 32px;
  }

  .container_movie {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 32px;

    .video {
      position: relative;
      cursor: pointer;

      &:hover {
        .play {
          height: 175px;
        }
      }

      .cover {
        border-radius: 8px;
      }

      .play {
        @include play();
      }

      .bookmark {
        @include bookmark(16px, 16px);
      }

      .description {
        @include flex(column, flex-end, auto);
        gap: 5px;
        margin-top: 8px;

        .p {
          @include bodyS();
          opacity: 0.75;
          @include flex(row, flex-start, center);
          gap: 8px;

          .point {
            border: 2px solid $pure-white;
            border-radius: 50%;
          }
        }

        .title_movie {
          @include headingXS();
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  .list {
    .title {
      margin-bottom: 24px;
    }

    .container_movie {
      column-gap: 30px;
      row-gap: 24px;

      .video {
        &:hover {
          .play {
            height: 0px;
          }
        }

        .cover {
          width: 220px;
          height: 140px;
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .list {
    margin-left: 16px;

    .container_movie {
      column-gap: 15px;
      row-gap: 16px;

      .video {
        .cover {
          width: 165px;
          height: 110px;
        }

        .bookmark {
          top: 8;
          right: 8;
        }

        .description {
          .p {
            @include bodyXXS();
            gap: 6px;

            .icon {
              width: 10px;
              height: 10px;
            }
          }

          .title_movie {
            @include headingXXS();
          }
        }
      }
    }
  }
}
