.main {
  display: flex;
  padding-bottom: 40px;

  .breakLine {
    height: 48px;
  }
}

@media (max-width: 768px) {
  .main {
    display: block;
  }
}

@media (max-width: 768px) {
  .main {
    .breakLine {
      height: 24px;
    }
  }
}
