@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@mixin flex($direction, $justify, $align) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin mask($width, $height) {
  width: $width;
  height: $height;
  mask-size: contain;
  mask-repeat: no-repeat;
}

@mixin font {
  font-family: "Outfit", serif;
}

@mixin _text-style($weight, $size) {
  @include font();
  font-weight: $weight;
  font-size: $size;
}

@mixin headingXL {
  @include _text-style(300, 32px);
  letter-spacing: -0.5px;
}

@mixin headingL {
  @include _text-style(300, 24px);
}

@mixin headingM {
  @include _text-style(300, 20px);
  letter-spacing: -0.3px;
}

@mixin headingS {
  @include _text-style(500, 24px);
}

@mixin headingXS {
  @include _text-style(500, 18px);
}

@mixin headingXXS {
  @include _text-style(500, 15px);
}

@mixin bodyM {
  @include _text-style(300, 15px);
}

@mixin bodyS {
  @include _text-style(300, 13px);
}

@mixin bodyXS {
  @include _text-style(300, 12px);
}

@mixin bodyXXS {
  @include _text-style(300, 11px);
}
