@use "@/styles/mixin.scss" as *;
@use "@/styles/variables.scss" as *;

.main {
  @include flex(column, center, center);
  height: 100vh;
  gap: 82px;
  margin: 0px 24px;

  .form {
    background-color: $semi-dark-blue;
    display: grid;
    columns: 1fr;
    min-width: 320px;
    width: 100%;
    max-width: 400px;
    padding: 32px;
    gap: 24px;
    border-radius: 20px;

    .title {
      @include headingXL();
      margin-bottom: 16px;
    }

    .containerInput {
      display: flex;
      cursor: pointer;

      .input {
        @include bodyM();
        padding-bottom: 17px;
        padding-left: 16px;
        color: $pure-white;
        border-bottom: 1px solid $greyish-blue;
        cursor: pointer;
        width: 100%;

        &.error {
          border-bottom-color: $red;
        }

        &:not(.error):focus,
        &.containsValue {
          border-bottom-color: $pure-white;
        }
      }

      .messageError {
        @include bodyS();
        padding-right: 17px;
        padding-bottom: 17px;
        border-bottom: 1px solid $red;
        color: $red;
        text-align: center;

        &.hidden {
          display: none;
        }
      }
    }

    .submit {
      @include bodyM();
      background-color: $red;
      color: $pure-white;
      cursor: pointer;
      margin-top: 16px;
      border-radius: 6px;
      height: 48px;

      &:hover {
        color: $dark-blue;
        background-color: $pure-white;
      }
      &:focus {
        opacity: 0.8;
      }
    }

    .p {
      @include bodyM();
      text-align: center;

      .link {
        color: $red;
      }
    }

    .gmail {
      @include flex(row, center, center);
      cursor: pointer;
    }
  }
}
