@use "@/styles/variables.scss" as *;
@use "@/styles/mixin.scss" as *;

.search {
  display: flex;
  margin-top: 60px;
  margin-bottom: 30px;
  gap: 24px;
  width: 485px;

  .input {
    @include headingL();
    background-color: transparent;
    border-width: 0;
    color: $pure-white;
    outline: none;
    padding-bottom: 15px;
    width: 100%;

    &:focus {
      border-bottom: 1px solid $greyish-blue;
    }
  }
}

@media (max-width: 768px) {
  .search {
    margin-top: 33px;
    margin-bottom: 33px;
    margin-left: 24px;
    width: 380px;
  }
}

@media (max-width: 475px) {
  .search {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 16px;
    gap: 16px;
    width: 90%;

    .input {
      @include headingXL();
    }
  }
}
