@use "@/styles/variables.scss" as *;
@use "@/styles/mixin.scss" as *;

.search {
  display: flex;
  margin: 32px 36px 34px 0px;
  gap: 24px;

  .input {
    @include headingL();
    color: $pure-white;
    padding-bottom: 14px;
    width: 100%;

    &:focus {
      border-bottom: 1px solid $greyish-blue;
    }
  }
}

@media (max-width: $tablet) {
  .search {
    gap: 28px;
    .input {
      &:focus {
        border: none;
      }
    }
  }
}

@media (max-width: 475px) {
  .search {
    margin: 24px 16px;
    gap: 16px;

    .input {
      @include bodyXM();
    }

    .icon {
      width: 24px;
      height: 24px;
    }
  }
}
