@use "@/styles/variables.scss" as *;
@use "@/styles/mixin.scss" as *;

.nav {
  display: grid;
  grid-template-columns: 96px;
  grid-template-rows: auto auto 1fr;
  background-color: $semi-dark-blue;
  border-radius: 20px;
  height: 92vh;
  margin-right: 36px;
  padding: 35px 0px 32px 0px;

  .logo {
    justify-self: center;
    margin-bottom: 75px;
    width: 32px;
    height: 26px;
    .img {
      width: 100%;
      height: 100%;
    }
  }

  .categories {
    display: grid;
    grid-template-columns: repeat(1, 20px);
    grid-template-rows: repeat(4, 20px);
    justify-content: center;
    gap: 40px;

    .home,
    .movies,
    .series,
    .bookmark {
      .img {
        @include mask(100%, 100%);
        background-color: $greyish-blue;

        &.active {
          background-color: $pure-white;
        }
      }
    }

    .home {
      .img {
        mask-image: url("../../assets/icon-nav-home.svg");
      }
    }

    .movies {
      .img {
        mask-image: url("../../assets/icon-nav-movies.svg");
      }
    }

    .series {
      .img {
        mask-image: url("../../assets/icon-nav-tv-series.svg");
      }
    }

    .bookmark {
      .img {
        mask-image: url("../../assets/icon-nav-bookmark.svg");
      }
    }

    .home:hover,
    .movies:hover,
    .series:hover,
    .bookmark:hover {
      .img {
        background-color: $red;
      }
    }
  }

  .user {
    @include flex(row, center, center);
    position: relative;
    align-self: flex-end;

    &:hover {
      .name {
        opacity: 0.7;
      }
    }

    .background {
      overflow: hidden;
      border: 1px solid $pure-white;
      height: 40px;
      width: 40px;
      border-radius: 50%;

      .img {
        width: 100%;
        height: 100%;
      }
    }

    .name {
      @include bodyS();
      color: $pure-white;
      position: absolute;
      text-align: center;
      transition: opacity 0.2s ease-in-out;
      opacity: 0;
      top: 120%;
    }
  }
}

@media (max-width: $tablet) {
  .nav {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 72px;
    padding: 0px 20px;
    border-radius: 10px;

    .logo {
      justify-self: flex-start;
      margin-bottom: 0px;
    }

    .categories {
      grid-template-columns: repeat(4, 20px);
      grid-template-rows: repeat(1, 20px);
      gap: 32px;
    }

    .user {
      align-self: auto;
      justify-self: flex-end;

      .background {
        width: 32px;
        height: 32px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .nav {
    width: auto;
    height: 56px;
    border-radius: 0px;
    margin: 0px;
    padding: 16px;

    .logo {
      width: 25px;
      height: 20px;
    }

    .categories {
      grid-template-columns: repeat(4, 16px);
      grid-template-rows: repeat(1, 16px);
      gap: 24px;
    }

    .user {
      .background {
        width: 24px;
        height: 24px;
      }
    }
  }
}
