@use "@/styles/variables.scss" as *;
@use "@/styles/mixin.scss" as *;

.trending {
  margin-bottom: 40px;

  .h1 {
    @include headingXL();
    margin-bottom: 25px;
  }

  .scroll_container {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    scroll-behavior: smooth;
    width: 90vw;
    padding: 0px 5px 20px;
    gap: 40px;

    .video {
      position: relative;
      display: grid;
      overflow: hidden;
      cursor: pointer;
      grid-template-rows: repeat(2, 1fr);
      border-radius: 8px;
      min-width: 470px;
      height: 230px;

      &:hover {
        .play {
          height: 100%;
        }
      }

      .cover {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

      .play {
        position: absolute;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
        width: 100%;
        height: 0%;
        transition: height 0.3s ease-in-out;

        .icon {
          width: 30px;
          height: 30px;
        }

        .button {
          display: flex;
          align-items: center;
          cursor: pointer;
          gap: 19px;
          background-color: rgba($color: $pure-white, $alpha: 0.25);
          border-width: 0;
          border-radius: 28.5;
          padding: 9px;
          padding-right: 24px;

          .p {
            @include headingXS();
            color: $pure-white;
          }
        }
      }

      .bookmark {
        justify-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 37px;
        height: 37px;
        margin: 24px;
        background-color: rgba($color: $dark-blue, $alpha: 0.5);
        z-index: 1;
        border-radius: 50%;

        &.selected {
          .icon {
            mask-image: url("../../assets/icon-bookmark-full.svg");
          }
        }

        &:not(.selected):hover {
          background-color: $pure-white;

          .icon {
            background-color: black;
          }
        }

        .icon {
          @include mask(17px, 19px);
          mask-image: url("../../assets/icon-bookmark-empty.svg");
          background-color: $pure-white;
        }
      }

      .description {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 4px;
        padding: 24px;

        background: linear-gradient(
          to bottom,
          rgba($color: #000, $alpha: 5%),
          rgba($color: #000, $alpha: 75%)
        );

        .p {
          @include bodyM();
          opacity: 0.75;
          display: flex;
          align-items: center;
          gap: 8px;

          .point {
            border: 2px solid $pure-white;
            border-radius: 50%;
          }
        }

        .title {
          @include headingS();
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .trending {
    margin-left: 24px;
  }
}

@media (max-width: 475px) {
  .trending {
    margin-left: 16px;
    margin-bottom: 24px;

    .h1 {
      @include headingXL();
      margin-bottom: 16px;
    }

    .scroll_container {
      gap: 16px;

      .video {
        min-width: 240px;
        height: 140px;

        &:hover {
          .play {
            height: 0%;
          }
        }

        .bookmark {
          width: 37px;
          height: 37px;
          margin: 8px;
        }

        .description {
          padding: 16px;

          .p {
            @include bodyXS();
          }

          .title {
            @include headingXXS();
          }
        }
      }
    }
  }
}
