@use "@/styles/variables.scss" as *;
@use "@/styles/mixin.scss" as *;
@use "@/styles/components.scss" as *;

.trending {
  margin-bottom: 40px;

  .h1 {
    @include headingXL();
    margin-bottom: 25px;
  }

  .scroll_container {
    width: calc(100vw - 170px);
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    padding: 0px 5px 12px 0px;
    gap: 40px;

    .video {
      @include flex(row, auto, flex-end);
      position: relative;
      overflow: hidden;
      cursor: pointer;
      border-radius: 8px;
      min-width: 470px;
      height: 230px;

      &:hover {
        .play {
          height: 100%;
        }
      }

      .cover {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

      .play {
        @include play();
      }

      .bookmark {
        @include bookmark(16px, 24px);
      }

      .description {
        @include flex(column, flex-end, auto);
        width: 100%;
        gap: 3px;
        padding: 24px;

        background: linear-gradient(
          to bottom,
          rgba($color: #000, $alpha: 5%),
          rgba($color: #000, $alpha: 75%)
        );

        .p {
          @include bodyM();
          opacity: 0.75;
          @include flex(row, flex-start, center);
          gap: 8px;

          .point {
            border: 2px solid $pure-white;
            border-radius: 50%;
          }
        }

        .title {
          @include headingS();
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .trending {
    .scroll_container {
      width: calc(100vw - 30px);

      .video {
        &:hover {
          .play {
            height: 0%;
          }
        }
      }
    }
  }
}

@media (max-width: 475px) {
  .trending {
    width: auto;
    margin: 0px 0px 24px 16px;

    .h1 {
      @include headingM();
      margin-bottom: 16px;
    }

    .scroll_container {
      gap: 16px;

      .video {
        min-width: 240px;
        height: 140px;

        .description {
          padding: 16px;

          .p {
            @include bodyXS();
          }

          .title {
            @include headingXXS();
          }
        }
      }
    }
  }
}
